@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$brown: #5E3C23;
$green: #6F8F71;
$yellow: #E0A839;
$yellow2: #ff9c00;
$white: #EFE5D2;
$blue: #01484d;



$text-font: "Inter", sans-serif;
@font-face {
  font-family: 'KG Second Chances Solid';
  src: url('/fonts/KGSecondChancesSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font:'KG Second Chances Solid', sans-serif;

@font-face {
  font-family: 'KG Second Chances Sketch';
  src: url('/fonts/KGSecondChancesSketch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


$title-font: KG Second Chances Sketch, sans-serif;
$base-font-size: 16px;
$background:radial-gradient(circle at center, #028a92 0%, #01484d 70%);
$base-line-height: 1.5;
$border-radius: 20px;
$transition-duration: 0.3s;
$box-shadow: 0 10px 25px rgba(0,0,0,0.2);
$max-width: 1200px;
$padding: 16px;
$margin: 16px;
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px; 