@use './variables' as *;

//Page Login Admin
#login-page{
    background-color: $white;
    color: $blue;
    h1{
        margin-top: 0;
    }
    .main-wrap{
        min-height: calc(100vh - 221px); //Permet de laisser le footer en bas
    }
    form{
        padding: $padding;
    }
    button{
        margin-top: $padding;
    }
}

//Page dashboard
.dashboard-page{
    background-color: $white;
    color: $blue;
    .main-wrap{
        min-height: calc(100vh - 221px); //Permet de laisser le footer en bas
    }
}
.dashboard-page>div>div{
    display: flex;
    justify-content: space-evenly;
    padding: $padding;
    
}