@use './variables' as *;


.login-wrapper, .dashboard-wrapper{
    background-color: $white;
        color: $blue;
    min-height: 100vh;
}
//Page Login Admin
#login-page{
    color: $blue;
    h1{
        margin-top: 0;
    }

    form{
        padding: $padding;
    }
    button{
        margin-top: $padding;
    }
}

//Page dashboard
.dashboard-page>div>div{
    display: flex;
    justify-content: space-evenly;
    padding: $padding;
}

@media (max-width:$breakpoint-mobile){
    .dashboard-page > div > div {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}




