@use './variables' as *;
@use "sass:color";

//Page contact
.contact-page{
    label{
        color: $yellow;
        font-size: 1.5rem;
    }
    textarea{
        height: 200px;
        resize: vertical;
        border: 2px solid black;
    }
    .rgpd {
        label{
        color: black;
        font-size: 0.625rem;
    }
    display: inline-flex;
    align-items: flex-start;
    gap: 0.5rem; 
    justify-content: center;
        input{
        width: auto;
        }
    }
    .img-wrap{
        div{
        width: 12.5rem;
        height: 25rem;
        margin: 0 auto 3rem;
        background: url("/DJs2.webp") no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        }
    }
}

@media (max-width: $breakpoint-mobile){
    .contact-page .img-wrap div{
        width: 9.375rem;
        height: 18.75rem;
    }
}