@use './variables' as *;

.form {
    background-color: $white;
        .language-switcher{
            max-width: $max-width;
            flex-direction: row;
            place-self: center;
            padding: $padding;
    }
    h1{
        font-size: 40px;
    }
}

.all-forms, .input-container{
/*     max-width: $max-width; */
    text-align: center;
    margin: 0 auto;
    padding: $padding;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 900px;
    justify-self: center;   
    width: 100%;
}
form > div{
    width: 100%;
    padding:  0 2em;
}
form > div > input:not([type="file"]),
form > div > textarea,
.all-inputs{
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    text-align: center;
    border-radius: $border-radius;
    border: 1px solid black
}

form > div > input[type="file"] {
    width: auto;
    display: block;
    margin: 0 auto;
}
.form-btn{
    align-self: center;
}

.artist-form{
    color: $blue;
    
    label {
        text-align: left;
        display: block;
    }
    
    input[type="checkbox"] {
        margin-right: 10px;
    }
    
    span {
        color: red;
    }
}

@media (max-width:$breakpoint-mobile){
    .form {
        padding: 1rem 0.5rem;       
        h1 {
        font-size: 30px;
        }
    }

    form {
        gap: 1em;   
        > div {
            padding: 0;
        }        
        > div > input:not([type="file"]),
        > div > textarea {
            text-align: left;
            padding: 0.8em;
        }
    }
    form > div > input[type="file"] {
        font-size: 0.8rem;
    }
    .artist-form div[style*="display: flex"] {
        padding: 0;
        justify-content: flex-start;
    }
}

.countdown-page{
    background: $white;
    div{
        .countdown, p{
            background: $white;
            text-align: center;
            color: $blue;
            
        }
        p{
            font-size: 1.5rem;
        }
        .countdown{
            font-weight: bold;
            font-size: 3rem;
        }
    }

}
