@use './variables' as *;

.all-forms, .input-container{
    max-width: $max-width;
    text-align: center;
    margin: 0 auto;
    padding: $padding;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 900px;
    justify-self: center;   
    width: 100%;
}
form > div{
    width: 100%;
    padding:  0 2em;
}
form > div > input,
form > div > textarea,
.all-inputs{
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    text-align: center;
}
.form-btn{
    align-self: center;
}

/* .form-success-msg{
    color: $green;
    font-size: 30px;
    padding: 50px;
} */