@use './variables' as *;
@use "sass:color";

header,footer {
    width: 100%;  
    background: $background;  
    box-shadow: $box-shadow;
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding;
    }
}
header{
  top: 0;
  z-index: 100;
  position: sticky;
}
  header img,
  footer img {
    height: 50px;
  }

  .navbar {
    display: block;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2em;
      font-weight: 600;
      color: $white;
      margin: 0;
      padding: 0;
    }

    li a.active {
      color: $yellow;
    }

    // Cacher les boutons dans navbar en desktop
    .buyTickets, .language-switcher {
      display: none;
    }
  }

  .language-switcher {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      background: none;
      border: none;
      padding: 0;
      line-height: 0;
      cursor: pointer;
    }
  }

  .burger {
    display: none;
    cursor: pointer;
  }


footer {
  .legal{
      justify-items: center;
  }
  p{
    color: $white;
  }
  .social{
    display: flex;
    gap: 1em;
    a{
      font-size: xx-large;
      color: $yellow;
        &:hover {
          color: $white;
  }
    }
  }
}

//Responsive design
@media (max-width: $breakpoint-desktop){
  header .buyTickets{
    display: none;
  }
  .hero article img {
        margin-left: 2rem;
  }
}

@media (max-width: $breakpoint-tablet) {
  header {
    // Cacher les boutons hors navbar en mobile
    > .container > .buyTickets,
    > .container > .language-switcher {
      display: none;
    }
    justify-content: space-between;

    .navbar {
      display: none;
      position: fixed;
      top: 70px;
      left: 0;
      width: 100vw;
      height: calc(100vh - 70px);
      background: $white;   
      padding: 60px 40px;
      text-align: center;
      z-index: 1000;

      // Cacher les boutons dans navbar par défaut
      .buyTickets, .language-switcher{
        display: none;
      }

      ul {
        flex-direction: column;
        gap: 1.5em;
        font-size: 1.2rem;
        a{
        color: $blue;
        }
      }

      &.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // Afficher les boutons dans navbar quand menu ouvert
        .buyTickets, .language-switcher{
          display: block;
          margin-top: 30px;
        }

        .language-switcher{
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 15px;
        }
      }
    }

    .burger {
      display: block;
      color: $yellow;
      font-size: 25px;
    }
  }

}

@media (max-width: $breakpoint-mobile) {
  header,footer {
    padding: 10px;
    .buyTickets {
      display: none;
    }
    img {
      height: 40px;
    }
  }
  header .language-switcher {
    flex-direction: row;
    gap: 5px;
  }

  footer{
    padding: 0;
    .container{
      flex-direction: column;
    }
    ul{
      text-align: center;
    }
  }
}


//Admin Header
.admin-header {
  background: #01484d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

    .logo {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: $title-font;
      color: $white;
      cursor: pointer;
    }
  }
}

.admin-header-layout {
  max-width: $max-width;

  .admin-main {
    padding: 2rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: $breakpoint-min){
  .admin-header .container{
    padding: 0;
  }
}

//form header
.form-header-layout {
  background: white;
  
  .form-header {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .banner-image {
      width: 100%;
      height: auto;
/*       max-height: 300px;
      object-fit: cover;
      display: block; */
    }
  }

  .form-main {
    padding: 2rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .form-header-layout header{
    background: $white;
  }
      .form-header-layout .form-header  {
      box-shadow: none;
    }
}

//Legal notice page
#legalNotice{ 
  padding: 50px;
  background-color: $white;
  color: $blue;
  text-align: center;
  p{
    color: $blue;
  }
}
#legalNotice>div{
  max-width: 1200px;
  margin: auto;
  h2{
  padding-top: 50px;
  }
}
@media (max-width: $breakpoint-mobile){
  #legalNotice{
    text-align: justify;
    h1{
      font-size: 1.5em;
    }
  }
}