@use './variables' as *;

header,footer {
    width: 100%;  
    background-color: $white;   
    box-shadow: $box-shadow;
    .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  }
}
header{
  top: 0;
  z-index: 1;
  position: sticky;
}

  img {
    height: 50px;
  }

  .navbar {
    display: block;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 2em;
      font-weight: 600;
      color: $brown;
      margin: 0;
      padding: 0;
    }

    li a.active {
      color: $green;
    }
  }

  .language-switcher {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      background: none;
      border: none;
      padding: 0;
      line-height: 0;
      cursor: pointer;
    }
  }

  .burger {
    display: none;
    cursor: pointer;
  }


footer {
  .legal{
      justify-items: center;
  }
  p{
    color: $brown;
  }
  .social{
    display: flex;
    gap: 1em;
    a{
      font-size: xx-large;
      color: $yellow;
    }
  }
}

//Resposive design
@media (max-width: $breakpoint-tablet) {
  header {
    justify-content: space-between;

    .navbar {
      display: none;
      position: absolute;
      top: 80px;
      right: 0;
      background: $white;
      padding: 20px;
      text-align: center;
      z-index: 1001;

      ul {
        flex-direction: column;
      }

      &.open {
        display: block !important;
      }
    }

    .burger {
      display: block;
      color: $yellow;
      font-size: 25px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  header,footer {
    padding: 10px;

    img {
      height: 40px;
    }
  }
  header .language-switcher {
    flex-direction: row;
    gap: 5px;
  }
  .buyTickets {
    display: none;
  }
  footer{
    padding: 0;
    .container{
      flex-direction: column;
    }
    ul{
      text-align: center;
    }
}
}

