@use './variables' as *;

.info-page{
    h2{
        font-size: 40px;
    }
    #general-info{
        img{
        width: 30%;
        height: auto;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        }

            display: flex;
            align-items: flex-start;
            text-align: center;
            padding: 50px 0;
            
            span{
                padding: $padding;
                

                }
            button{
                display: none;
            }
        }
    #faq{
        h3{
            color: $white;
        }
        h4, strong{
            color: $yellow;
        }
        p, ul, li{
            font-family: $text-font;
            font-weight: bold;
            font-size: 18px;
            color:$white;
            text-align: left;
        }
        .collapse-button{
            color: $yellow;
        }
    }
}

@media (max-width: $breakpoint-mobile){
    .info-page #general-info {
        flex-direction: column-reverse;
        align-items: center;
        img{
            width: 90%;
        }
    }
}