@use './variables' as *;

//Page principale participer
.participate-page{
    background: $background;
    .float-text {
    font-family: $font;
    animation: floatSide 3s ease-in-out infinite;
    }
    img{
    width: 50%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    }

    >div{
        max-width: $max-width;
        margin: auto;
        padding: 4rem 2rem;
    }
        h1{
            font-size: 50px;
            color: $yellow;
        }
        h2{
            font-size: 40px;
        }

    }
    #volonteers, #market{
                p{
                font-family: $text-font;
            }
        >div{
            display: flex;
            align-items: center;
            text-align: center;
            padding: 50px 0;
            
            span{
                padding: $padding;
                

                }
            button{
                display: none;
            }
        }
}
.float-text {
    font-family: $font !important;
    /* display: inline-block; */
    animation: floatSide 3s ease-in-out infinite;
} 
#tickets{
    text-align: center;
}

@keyframes floatSide {
  0%   { transform: translateX(0); }
  25%  { transform: translateX(3px); }
  50%  { transform: translateX(0); }
  75%  { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

//Responsive
@media (max-width: $breakpoint-mobile) {
    #volonteers>div{
        flex-direction: column-reverse;
    } 
    #market>div{
        flex-direction: column;
    }
            img{
                width: 100%;
            }
        }
    
